.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Raleway','Lato';
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

main {
  padding-top: 70px;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.header_inner {
  padding: 15px 0;
}

.header_contents {
  display: inline-block;
}

.bolt_img {
  float: left;
  font-size: 40px;
}

.contact_btn {
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  background-color: #74cfae;
  transition: 0.3s;
}

.contact_btn:hover  {
  transition: 0.3s;
  color: #333;
}

/* main */
/* title */
.title {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}

.title_inner {
  padding: 250px 0;
}

.main_title {
  font-size: 90px;
  font-weight: bold;
  color: #74cfae;
  margin-bottom: 20px; 
}

.sub_title {
font-size: 30px;
color: #c0c0c0;
}

/* section_wrapper "what we can do?"*/
.section_inner {
  color: #f2f2f2;
  line-height: 30px;
}

.section_wrapper {
  width: 100%;
  background-color: #74cfae;
}

.section_contents {
  padding-top: 50px;
  text-align: center;
}

.section_title_text {
  float: right;
}

.section_title {
  font-size: 24px;
  margin-bottom: 35px;
}

.section_text {
  width: 700px;
  font-size: 20px;
  word-break: normal;
}

/* article_wrapper "OUR LATEST WORK */
.article_wrapper {
  background-color: #f2f2f2;
}

.article_img {
  font-size: 0;
}

.img_inner {
  opacity: 0.7;
  margin-right: 100px;
  margin-bottom: 80px; 
  cursor: pointer;
  transition: 0.3s;
}

.img_inner:hover {
  transition: 0.3s;
  opacity: 1;
}

.img_inner:nth-child(3n) {
  margin-right: 0;
}

.img_inner:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.article_inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article_title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.article_sent {
  text-align: center;
  margin-top: 90px;
}

.article_text {
  color: #333;
  display: inline-block;
  line-height: 30px;
  width: 620px;
  font-size: 20px;
  word-break: normal;
}

.article_email {
  vertical-align: top;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  transition: 0.3s;
}

.article_email:hover {
  transition: 0.3s;
  color: #333;
}

/* circle_wrapper "OUR SKILLS */

.circle {
  width: 100%;
  background-color: #333;
}

.circle_inner {
  padding-top: 70px;
  padding-bottom: 100px; 
}

.circle_title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

.circle_contents {
  box-sizing: border-box;
  text-align: center;
}

.circle_contents_list {
  margin-right: 180px;
  float: left;
}

.circle_contents_list:first-child {
  margin-left: 40px;
}

.circle_contents_list:last-child {
  margin-right: 0;
}

.circle_text {
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
}

/* sns_wrapper */

.sns_wrapper {
  background-color: #f2f2f2;
}

.icon_contents {
  padding: 200px 0px;
  text-align: center;
}

.icon_inner {
  text-align: center;
  line-height: 80px;
  color: #74cfae;
  display: inline-block;
  font-size: 50px;
  width: 185px;
  padding: 20px 0;
  transition: 0.3s;
}

.icon_inner:hover {
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

/* footer */
.footer_contents {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer {
  background-color: #74cfae;
  color: #fff;
  text-align: end;
}

.footer_message {
  font-size: 16px;
  display: inline-block;
}