@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .section_contents {
    padding-bottom: 25px;
  }

  .section_title {
    margin-top: 20px;
  }

  .section_text {
    width: 97%;
    margin: 0 auto;
  }

  .article_img {
    width: 300px;
    margin: 0 auto;
  }

  .img_tag {
    margin: 0;
  }

  .img_tag_top:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article_sent {
    margin-top: 80px;
  }

  .article_text {
    width: 97%;
    margin-bottom: 40px;
  }

  .article_email {
    margin: 0 auto;
  }

  .circle_contents {
    margin: 0 auto;
    width: 122px;
  }

  .circle_contents_list, .circle_contents_list:first-child {
    margin: 0 auto;
    margin-bottom: 88px;
  }

  .icon_inner {
    width: 182px;
  }
}